.how-it-works {
    margin-top: 100px;
}

.how-it-works h2 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.how-it-works__body {
    max-width: 1250px;
    width: 100%;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    justify-content: space-between;
}