.how-it-works {
    margin-top: 100px;
}

.how-it-works h2 {
    text-align: center;
}

.how-it-works__body {
    width: 650px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
    justify-content: space-between;
}