.page-body {
    width: 100%;
}

.page-body__description {
    font-size: 28px;
    line-height: 60px;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.page-body_payment-plan-container {
    width: 100%;
    background-color: rgba(137, 43, 226, 0.405);
    /* padding: 20px; */
    padding: 80px 0px 80px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
    border-radius: 10px;
}