.titlebox {
    background-color: #7d3c98;
    /* height: 600px; */
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    margin-bottom: 100px;
    background-image: url('../../../public/Your\ paragraph\ text.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}